<html ng-app="agendaScroll">
    

    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
        <script type="text/javascript" src="main.js"></script>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <header>
            <h1>Wutta Calendar!</h1>
        </header>
        <section ng-controller="agendaPalette as pCtrl">
            <ul>
                <li ng-repeat="for dates in dateMe">{{dates.date}}</li>
                <li ng-repeat="for dates in dateMe">{{dates.apptName}}</li>
                <li ng-repeat="for dates in dateMe">{{dates.apptTime}}</li>
                <li ng-repeat="for dates in dateMe">{{dates.apptText}}</li>
            </ul>
        </section>
        
        <footer>
            
        </footer>
    </body>
    
</html>