html {
    background-color: black;
}

body {
    width:960px;
    margin: auto;
    background-color: aliceblue;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 40px;
}

.pirateButtons {
    margin: 5px;
    color: #7fff00;
}

.pink {
    color: #ff69b4;
}