.helloDiv {
    height: 99vw;
    width: 100vw;
    z-index: 0;
}

.boop {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: solid black;
    background-color: #7fff00;
    z-index: 1;
}